@import 'normalize.css';

@font-face {
  font-family: "argh";
  src: url("../fonts/argh.ttf") format("truetype");
}

/* *, *::before, *::after {
  box-sizing: border-box;
} */

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --rugged-blue: #dfe9fe;
}

body {
  min-height: 100vh;
  background-color: #0466c8;
  /* background: no-repeat url("../images/water.jpg"); */
}

#content {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  padding-block: 1rem;
}

header p { 
  font-size: 1.2rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-family: "argh";
}

.navbar {
  max-width: 80%;
}

.navlist {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 0;
}

.list-item {
  padding-inline: 1rem;
}

.list-link {
  text-decoration: none;
}

.list-link, .category-title {
  font-family: 'argh';
  font-size: 2rem;
  color: var(--rugged-blue);
}

.list-link.active {
  color: #ffe2e0;
}

.container {
  display: grid;
  justify-items: center;
}

.dish {
  display: flex;
  width: clamp(300px, 40vw, 600px);
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}