@import 'normalize.css';

/* *, *::before, *::after {
  box-sizing: border-box;
} */

body {
  min-height: 100vh;
}

#content {
  width: 80%;
  margin: 0 auto;
}

header {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

h1 {
  margin: 0;
}


